*{
    font-family: 'Lato', sans-serif;
    }
    body{
    padding: 20px,20px,10px,10px;
    }
    .add-to-cart{
    height:50px;
    width: 100px;
    border: none;
    background-color: rgb(9, 118, 31);
    color:white;
    border-radius: 10px;
    float:right;
    gap: 5px;
    }
    .login-btn{
    height:50px;
    width:100px;
    border: 2px solid rgb(250, 248, 248);
    border-radius: 10px;
    background-color: rgb(250, 248, 248);
    float:right;
    }
    .logo{
    border-right: 3px solid rgb(250, 248, 248);
    padding-right: 10px;
    }
    .location{
    display:block;
    margin: 0 0 0 0;
    }
    header{
    justify-content: space-between;
    align-items: stretch;
    border-bottom:3px solid rgb(250, 248, 248)
    }
    .header-logo{
    gap: 30px;
    }
    .header-login-butn{
    padding-right: 10px;
    justify-content: space-between;
    }
    .nav-bar{
    flex-direction: row;
    text-align: center;
    border: 2px solid rgb(250, 248, 248);
    }
    .bar{
    padding-right:20px;
    padding-left: 20px;
    list-style-type: none;
    color: rgb(126, 119, 119);
    text-decoration: none;
    }
    .side-bar-list:hover{
    background-color: rgb(199, 240, 218);
    border-left: 3px solid green;
    }
    .side-bar{
    margin-top: 0;
    }
    .side-bar-list{
    list-style-type: none;
    width: 250px;
    height: 70px;
    border: 3px solid rgb(250, 248, 248);
    box-shadow: 5px 5px, 5px, 5px;
    justify-content: left;
    background-color: white;
    flex-direction: row;
    }
    .side-bar-list p{
    font-weight: bold;
    }
    .food-image{
    width: 50px;
    height: 50px;
    padding-top: 10px;
    padding-left: 10px;
    }
    .list-text{
    padding-left: 10px;
    padding-right: 10px;
    flex-grow: 1;
    }
    main{
    flex-direction: row;  
    flex-grow: 2;
    }
    .menu{
    display: inline-block;
    width: 75%;
    border: 3px solid rgb(250, 248, 248);
    }
    .product-desc{
    justify-content: space-between;
    padding-left: 10px;
    padding-right: 10px;
    }
    .sort{
    flex-direction: row;
    gap: 10px;
    }
    #sort-by-filter{
    width: 120px;
    height: 20px;
    }
    .row{
    flex-direction: row;
    }
    .product{
    border-right: 3px solid rgb(250, 248, 248);
    border-top: 3px solid rgb(250, 248, 248);
    padding: 5px 10px 5px 10px;
    margin-top: 0px;
    width: 23%;
    height:420px;
    }
    .discount{
    display:flex;
    justify-content: flex-start;
    }
    .discount p{
    width:30%;
    border: 2px solid rgb(250, 248, 248);
    border-radius: 5px 5px 5px 5px;
    background-color: rgb(41, 135, 212);
    color: white;
    }
    .source-btn{
    display:flex;
    justify-content: flex-end;
    }
    .source{
    width:45%;
    border-radius: 5px 5px 5px 5px;
    border: 2px, solid rgb(250, 248, 248);
    background-color: rgb(199, 240, 218);
    color: green;
    display:flex;
    align-self: right;
    }
    .product-image-container{
    display:flex;
    height: 30%;
    }
    .product-image-container img{
    width: 50%;
    height: 80%;
    }
    .product-title p{
    font-weight:  bold;
    font-size: 18px;
    }
    .cart-btn-container button{
    width: 100px;
    height:40px;
    border-color: green;
    border-width: 1px;
    border-radius: 7px;
    background-color: rgb(199, 240, 218);
    color: green;
    font-weight: bold;
    font-size: 20px;
    }
    .weight-style{
    justify-content: flex-start;
    }
    .weight{
    background-color: rgb(250, 248, 248);
    color:rgb(167, 164, 164)
    }
    .cut-price{
    color: rgb(192, 185, 185);
    }
    .final-price{
    font-size: 22px;
    margin-left: 0;
    font-weight: bold;
    }
    .cart-grid{
    flex-direction: row;
    justify-content: space-between;
    }
    .flex{
    display: flex;
    }
    .justify-center{
    justify-content: center;
    }
    .align-center{
    align-items: center;
    }
    footer{
    margin-top: 25px;
    border: 2px solid rgb(250, 248, 248);
    background-color: rgb(250, 248, 248);
    }
    .footer-store-img img {  
    width: 35%;  
    height: 50%;
    }
    .footer-store-img{
    gap: 1rem;
    width:40%;
    margin: 0;
    padding: 0;
    }
    .footer-download-source{
    justify-content: flex-end;
    margin: 0;
    }
    .download-text{
    margin-right: 0;
    padding-right: 0;
    }
    .footer-social-media {  
    gap: 1rem;
    }
    .footer-social-media img { 
    width: 5%;  
    height: 20%;
    }