
    header{
        justify-content: space-between;
        align-items: stretch;
        border-bottom:3px solid rgb(250, 248, 248)
        }
        .header-logo{
        gap: 30px;
        }
        .header-login-butn{
        padding-right: 10px;
        justify-content: space-between;
        }
        .add-to-cart{
            height:50px;
            width: 100px;
            border: none;
            background-color: rgb(9, 118, 31);
            color:white;
            border-radius: 10px;
            float:right;
            gap: 5px;
            }
            .login-btn{
            height:50px;
            width:100px;
            border: 2px solid rgb(250, 248, 248);
            border-radius: 10px;
            background-color: rgb(250, 248, 248);
            float:right;
            }
            .logo{
            border-right: 3px solid rgb(250, 248, 248);
            padding-right: 10px;
            }
            .location{
            display:block;
            margin: 0 0 0 0;
            }